*{box-sizing: border-box;}

body {
	font-family: Arial;
	margin: 0;
	background-color: rgba(50,0,155,0.1);
}

.carrossel{
    margin: 20px;
    display: inline-block;
    width: 300px;
    height: 300px;
    position: relative;
}

.slideShow-conteiner{
	max-width: 250px;
	position: relative;
	margin: auto;
}

.slide {
	display: none;
}

.imgSlide {
	vertical-align: middle;
}

.btnAnterior, .btnProximo {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 10px;
	margin-top: -15px;
	color: #ffffff;
	font-weight: bold;
	font-size: 30px;
	transition: 0.4s ease;
	user-select: none;
}

.btnAnterior {
	left: 0;
	border-radius: 0 15px 15px 0;
}

.btnProximo {
	right: 0;
	border-radius: 15px 0 0 15px;
}

.btnAnterior:hover, .btnProximo:hover, .textoSlide:hover{
	background-color: rgba(0,0,0,0.2);
}

.textoSlide {
	color: #fff;
	font-size: 15px;
	padding: 8px 12px;
	position: absolute;
	bottom: 0px;
	width: 100%;
	text-align: center;
	transition: 0.4s ease;
}

.numeroSlide {
	color: #fff;
	font-size: 12px;
	padding: 8px 12px;
	position: absotute;
	top: 0px;
}

.indicador {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 2px;
	background-color: #aaa;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.5s ease;
}

.ativo, .indicador:hover {
	background-color: #777;
}

.fade {
	animation-name: fade;
	animation-duration: 1.3s;
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.3s;
}

@keyframes fade{
	from{opacity: .4}
	to{opacity: 1}
}

@-webkit-keyframes fade{
	from{opacity: .4}
	to{opacity: 1}
}